@import "../../style/color.scss";
$scale-var: 1600 / 2560;

.left-sidebar {
    z-index: 2;
    position: absolute;
    
    background: $linear-gradient3;
    @media only screen and (min-width: 1200px) {
        position: unset;
        background: linear-gradient(271.77deg, rgba(56, 207, 80, 0.1) -29.44%, rgba(85, 201, 209, 0.1) 2.61%, rgba(46, 243, 196, 0.1) 29.31%, rgba(60, 228, 201, 0.1) 29.36%, rgba(73, 214, 205, 0.1) 29.42%, rgba(85, 201, 209, 0.1) 40%, rgba(191, 86, 246, 0.1) 82.73%);
    }
    
        //position: absolute;
        //width: 100%;
        height: 100%;
        
        //opacity: 0.5;
        //filter: blur(65px);
        //transform: rotate(-180deg);
    
    // background-image: url('../../assets/images/bgemp.png');
    //     background-size: 100% 100%;
    div{
        background-color: transparent;
    }
    .pro-sidebar {
        /* Rectangle 1 */


    

        //background: linear-gradient(350.48deg, rgb(25 45 31 / 40%) 4.34%, rgba(26, 40, 49, 0.6) 31.98%);;
        min-width: 280px;
        @media only screen and (max-width: 1200px) {
            min-width: 310px;
        }
        @media only screen and (min-width: 1200px) {
            min-width: 300px;
            &.toggled {
                min-width: 80px;
                width: 80px;
            }
        }
        @media only screen and (min-width: 1800px) {
            min-width: 320px;
            
        }

        .sidebar-content {
            z-index: 100;
            margin-top: 38px * $scale-var;
            padding: 0;
            .pro-menu {
                margin-top: 0;
                padding: 0;
            }
        }
        .lucky-spin {
            width: 280px;
            margin-left: 29px;
            margin-bottom: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .monkey-sidebar-item {
            
            margin-left: 27px;
            margin-top: 0;
            padding: 0;
            margin-bottom: 7px * $scale-var;
            background-color: rgba(0, 0, 0, 0);
            div {
                height: 36px;
                @media only screen and (min-width: 1800px) {
                    height: 42px;
                }
                padding: 0;
                .item-content {   
                    position: relative;
                    display: flex;
                    .icon {
                        font-size: 16px;
                        width: 36px;
                        height: 36px;
                        margin-right: 10px;
                        padding: 8px;
                    }
                    .detail-str {
                        color: #cfcfcf;
                        font-family: Nurom;
                        font-size: 16px;
                        font-weight: bold;
                        position: absolute;
                        left: 52px;
                        transform: translateY(-50%);
                        top: 50%;
                    }   
                    @media only screen and (min-width: 1800px) {
                        .icon {
                            font-size: 17px;
                            width: 43px;
                            height: 43px;
                            margin-right: 10px;
                            padding: 8px;
                        }
                        .detail-str {
                            font-family: Nurom;
                            font-size: 17px;
                            font-weight: bold;
                            position: absolute;
                            left: 66px;
                        }   
                    }
                }
            }
            &:hover {
                .icon {
                    background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2)), $linear-gradient1;
                    border-radius: 7px;
                    color: white;
                }
                .detail-str {
                    color: white !important;
                }   
            }
        }
        .normal {
            .icon {
                background-color: rgba(0, 0, 0, 0);
                color: $content-border-color;
            }
            .detail-str {
                color: white;
            }
        }
        .selected {
            .icon {
                background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2)), $linear-gradient1;
                border-radius: 7px;
                color: white;
            }
            .detail-str {
                color: $liner-color2 !important;
            }
            &:hover {
                .icon {
                    background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2)), $linear-gradient1;
                    border-radius: 7px;
                    color: white;
                }
                .detail-str {
                    color: $liner-color2 !important;
                }   
            }
        }
        .coming-soon {
            font-size: 7px;
            background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),linear-gradient(90deg,#1383FB 50%,#70DCFE);
            background-size: 130% auto;
            border-radius: 7px;
            color: white;
            text-transform: uppercase;
            padding: 4px 3px 3px 3px;
            top: -20%;
            position: absolute;
            margin-left: 7px;
        }
        .disabled {
            .detail-str {
                color: $content-background !important;
            }   
        }
    }
    .toggled {
        .monkey-sidebar-item {
            transition: margin 100ms;
            margin-left: 20px;
            margin-right: 0;
            .item-content {
                .icon {
                    margin: 0 !important;
                }
            }
            .detail-str {
                display: none;
            }
        }
        .buttons {
            display: none !important;
        }
        .lucky-spin {
            display: none !important;
        }
        
    }
    .display-button {
        width: 18px;
        height: 18px;
        position: fixed;
        left: 10px;
        top: 11px;
        cursor: pointer;
        @media only screen and (min-width: 800px) {
            left: 16px;
            top: 22px;
        }
        @media only screen and (min-width: 1600px) {
            left: 22px;
            top: 30px;
        }

        border: none;
        .icon-suffix {
            margin: 0 !important;
            border: none;
        }
        
        .head-div {
            padding: 0;
            font-size: larger;
            .oc-icon {
                color: $content-border-color;
                stroke: #170F26;
                stroke-width: 1px;
            }
            .right-icon {
                
                display: none;    
            }
            .left-icon {
                
                display: block;
            }
        }
        .toggled {
            .right-icon {
                
                display: block !important;    
            }
            .left-icon {
                
                display: none !important;
            }
        }
        @media only screen and (max-width: 1200px) {
            .head-div {
                .right-icon {
                    display: block;    
                }
                .left-icon {
                    
                    display: block;
                }
            }
            .toggled {
                .right-icon {
                    
                    display: block !important;    
                }
                .left-icon {
                    
                    display: block !important;
                }
            }
        }
    }
    .sidebar-btn-wrapper {
        .sidebar-foot-btn {
            width: 40px;
            padding-left: 10px;
            padding-right: 10px;
            height: 20px;
            margin: 5px;
            margin-right: 5px;
            color: $liner-color1;
        }
    }
    .buttons {
        display: flex !important;
        @media only screen and (min-width: 1200px) {
            display: none !important;
        }
        flex-direction: column;
        button, a {
            font-size: 12px;
            position: relative;
            
            margin-bottom: 10px;
            margin-left: 30px;
            margin-right: 30px;
            padding: 10px;
            align-items: center;
            height: 40px;
            justify-content: center;
            .mask {
                background-color: #2A2E68;
                opacity: 0.93;
                span {
                    width: fit-content !important;
                    white-space: nowrap;
                }
            }
            
        }
        .logout {
            @media only screen and (min-width: 768px) {
                display: none !important;
            }
            margin-top: 10px;
            .icon {
                margin-right: 5px;
                margin-top: -2px;
            }
        }
        .wallet-address {
            border-radius: 5px;
            margin-left: 30px;
            margin-right: 30px;
            display: flex !important;
            background: linear-gradient(90deg, #f27145 4.11%, #efbf55 100%);
            @media only screen and (min-width: 768px) {
                display: none !important;
            }
        }
        .buy-now {
            border-radius: 5px;
            display: block !important;
            @media only screen and (min-width: 768px) {
                display: none !important;
            }    
            align-items: center;
            white-space: nowrap;
            box-sizing: border-box;
            img {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
             
        }
    }
    &-show {
        display: block!important;
    }
    &-hidden {
        display: none;
    }
    .alimango-logo {
        width: 80px !important;
    }
}