$backgroundcolor: #36454F;
//$background-color2: #242a2f;
$background-color2: #242a2f;
//$background-color3: #322C76;
$background-color3: #3c4f5b;
$background-color4: #12152a;


//$liner-color1: #7050cb;
$liner-color1: #FF6D60;
$liner-color5: #fa5b4d;

$liner-color2: #F7D060;
$linear-gradient1: linear-gradient(90deg, #{$liner-color1} 4.11%, #{$liner-color2});
$text-gradient: linear-gradient(269.81deg, #{$liner-color1} 0.17%, #{$liner-color2} 104.53%);

//$liner-color1: #7050cb;
$liner-color3: #36454f;
$liner-color4: #3c4f5b;
$linear-gradient2: linear-gradient(90deg, #{$liner-color3} 4.11%, #{$liner-color4});

$liner-color6: #231b3f;
$liner-color7: #18293b;
$linear-gradient3: linear-gradient(90deg, #{$liner-color6} 4.11%, #{$liner-color7});

//$content-background: rgba(61, 58, 147, 0.4);
$content-background: rgb(102 129 147 / 40%);
//$content-border-color: #515189;
$content-border-color: #98D8AA;
$content-border-color1: #96e9ae;
$content-border-color2: #5c7e93;

