@import '../../../style/color.scss';

.our-story {

    padding: 0px;
    
    margin: 20px;
    border-radius: 30px;
    overflow: visible;
    position: relative;
    margin-top: -40px;
    z-index: 1;
    @media only screen and (min-width: 600px) {
        margin: 30px;
    }
    .background-content {
        padding: 50px 30px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        // background-image: url('../../../assets/images/texture.png');
        border-radius: 30px;
        a {
            text-decoration: none;
            :hover {
                text-shadow: 2px 2px black;
                text-decoration: underline;
                color: $liner-color2;
            }
        }
        .title {
            display: block;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 60px;
            .rotate-space-img {
                width: 80px;
            }
        }
        .description {
            margin-top: 20px;
            color: $liner-color2;
            font-size: 16px;
            text-align: center;
            display: block;
            padding-left: 10%;
            padding-right: 10%;
            z-index: 1;
            position: relative;
            @media only screen and (min-width: 600px) {
                font-size: 20px;
            }
            @media only screen and (min-width: 1000px) {
                //width: 300px;
            }
        }
        .chips-right-img {
            right: 50px;
            bottom: -100px;
            z-index: 2;
            width: 220px;
            position: absolute;
            display: none;
            @media only screen and (min-width: 600px) {
                
                display: block;
            }
        }
    }
    
}