@import '../../style/color.scss';

.contact-us-page {
    margin-top: 50px;
    .title {
        width: 100%;
        text-align: center;
        font-size: 60px !important;
        margin: 0;
    }
    .description {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 18px;
    }
    .home-link {
        position: absolute;
        right: 30px;
        font-size: 50px;
        top: 20px;
        color: $content-border-color;
        background-color: transparent;
        border: none;
        :hover {
            color: $content-border-color1;
        }
    }
    form {
        display: grid;
    }
    .send-message-btn {
        margin-top: 30px;
        padding: 5px 10px;
        border: 2px solid $liner-color1;
        border-radius: 20px;
        background-color: rgba(255, 109, 96, 0.2);
        color: white;
        font-size: 16px;
        align-self: center;
    }
    .marketplaces {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 50px;
        .market {
            text-decoration: none;
            :hover {
                cursor: pointer;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-container {
                padding: 10px;
                border: 1px solid $content-border-color;
                border-radius: 50%;
                img {
                    width: 70px;
                }
            }
            .market-description {
                color: $liner-color2;
            }
        }
    }
}